@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
    background-color: #eaeceb;
	min-height: 300px;
	border-top:5px solid #8CBA34;
    font-family: 'Nunito', sans-serif;
}
main{
	margin-top: 105px;
}
.wrapper{
	display: flex;
    justify-content: center;
}
.mainContent{
	background-color: #fff;
	padding: 30px;
    width: 900px;
    
}
main .hidden{
	display: none;
}

/* ---------- write-form ---------- */

main .write-form{
	margin: 10px 0px 10px 0px ; /* 상, 좌, 하, 우 */
}

.btn{
	width:100%;
	text-align:center;
	padding-top: 20px;
}
#btnSave{
	background-color: coral;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    font-size: 13px;
    border-style: none;
}
#btnSave:hover:not(.active){
    background-color: darksalmon;
}
#btnList{
	background-color: darkgray;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    font-size: 13px;
    border-style: none;
}
#btnList:hover:not(.active){
    background-color: gray;
}

/* ---------- table style ---------- */

main .table {
	display: table;
	table-layout: fixed;
	width: 100%;
	border-top: 2px solid darksalmon;
}

main .table tr, main .table .tr {
	display: table-row;
	height: 35px;
}

main .table tr.content, main .table .tr.conent {
	display: table-row;
	height:auto;
	min-height: 200px;	
	line-height: 35px;
	color: #393939;	
}
#classification{
	display: flex;
    justify-content: left;
    padding: 0px;
}
#classification ul li{
	list-style: none;
    float: left;
    margin-left: 30px;
}
/* ---------- 셀의 모양 ---------- */

main .table td, 
main .table th, 
main .table .td,
main .table .th {
	display: table-cell;
	text-align: center;
	border-bottom: 1px solid darkgray;
}

main .table td.w100 {
	background: #f5f5f5;
	width: 100px;
}