<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="admin">
	<!-- 로그인 체크 -->
	<select id="login_check" resultType="com.petplant.web.model.admin.dto.AdminDTO">
		SELECT login_id, login_passwd, login_name, email, join_date FROM admin
		WHERE login_id=#{login_id} AND login_passwd=#{login_passwd}
	</select>
</mapper>